.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--color-text) !important;
}

.google-auth {
  margin-top: 10px;
  .mdc-button__label{
    width: 80% !important;
  }
  & > * {
    width: 100%;
    .google-login-label {
      color: var(--color-text) !important;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
