<div class="auth-container">
  <mat-card class="auth-card">
    @if (currentView() === 'login') {
        <div animate.enter="fade-in" animate.leave="fade-out">
        <app-login></app-login>
        </div>
    }@else if(currentView() === 'register'){
        <div animate.enter="fade-in" animate.leave="fade-out">
        <app-register></app-register>
        </div>
    }

    <div class="switch-container">
      <button mat-button color="accent" (click)="toggleView()">
        {{
          currentView() === 'login'
            ? this.toggleViewTextSignIn()
            : this.toggleViewTextLogIn()
        }}
      </button>
    </div>
  </mat-card>
</div>
<div class="actions text-center mt-4">
  <button mat-button (click)="openPrivacyDialog()">{{this.translateService.t('html.components.auth-shell.privacyPolicy')()}}</button>
  <button mat-button (click)="openSettingsDialog()">{{this.translateService.t('html.components.auth-shell.settings')()}}</button>
</div>
