.auth-background {
  color: var(--color-text);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-color: var(--color-primary);
}

.color-layer {
  position: absolute;
  inset: 0;
  min-height: 200vh;
  background-color: var(--color-primary);
  box-shadow: var(--shadow-elongated);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  transform-origin: center center;
}

.auth-wraper{
  background-color: var(--color-primary) !important;
  box-shadow: none !important;
}

.base {
  background-color: var(--color-secondary);
  z-index: 1;
}

.overlay {
  background-color: var(--color-primary);
  z-index: 2;
  transform: rotate(60deg) scale(1.05);
  box-shadow: var(--shadow-elongated);
}


.switch-container {
  text-align: center;
}


.fade-in {
  transition: opacity 400ms ease-out, transform 400ms ease-out;
  opacity: 1;
  transform: translateX(0);
  @starting-style {
    opacity: 0;
    transform: translateX(20px);
  }
}

.fade-out {
  transition: opacity 400ms ease-out, transform 400ms ease-out;
  opacity: 0;
  transform: translateX(-20px);
  @starting-style {
   opacity: 1;
   transform: translateX(0px);
 }
}

.auth-background.flipped {
  .overlay {
    transform: translateX(100%) rotate(0deg);
  }

  .base {
    transform: rotate(60deg) scale(1.05);
  }
}


.auth-card {
  position: relative;
  width: 420px;
  height: 90vh;
  min-height: 650px;
  perspective: 1200px;
  z-index: 10;
  border-radius: 16px;
  overflow: visible;
  background: transparent;
  box-shadow: none;

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transform-style: preserve-3d;
  }

  .card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    background: var(--color-surface);
    margin: 0 20px;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: var(--shadow-elevated);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }

  .card-front {
    transform: rotateY(0deg);
  }

  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-inner.flipped {
    transform: rotateY(180deg) rotateX(2deg);
  }
  
}

/* prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  .auth-card .card-inner {
    transition: none;
    transform: none !important;
  }
}

