@use '@angular/material' as mat;
@use "tailwindcss";

@use './styles/themes' as *;
@use './styles/mixins' as *;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  
  color-scheme: light;

  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

.text-color-principal
{
  color: var(--color-text) !important;
}


.mdc-notched-outline__notch{
  border-right: none !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input{
  color: var(--color-text) !important;
}
.mat-mdc-card{
    background-color: transparent !important;
    box-shadow: none !important;
}

.mat-mdc-unelevated-button:not(:disabled){
  background-color: var(--color-primary) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
